@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/libs/fontello.css"; // Icon font
@use "/src/sass/base/basic.scss";

@use "/src/sass/blocks/header.scss";

@use "/src/sass/ui/titles.scss";

@use "/src/sass/ui/buttons.scss";

@use "/src/sass/blocks/promo.scss";