@use "/src/sass/base/variables.scss" as *;

.footer {
    margin-top: 95px;
    background-color: $dark;

    &__newsletter {
        padding-top: 50px;
    }

    &__header {
        color: $light;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    &__text {
        padding-top: 40px;
        color: $light;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

    &__form {
        padding-top: 40px;
    }

    &__input {
        border: none;
        color: $ui-active;
        padding-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        width: 293px;
        border-bottom: 1px solid $ui-active;
        background-color: transparent;

        &:focus {
            outline: none;
            border-bottom: 1px solid $ui-active;
        }

        &:not(:placeholder-shown):not(:focus):invalid {
            border-bottom-color: $ui-error;
            color: $ui-error;
        }


        &::placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $ui-active;
        }
    }

    &__form-btn {
        margin-top: 20px;
    }

    &__check-block {
        display: flex;
        width: fit-content;
        align-items: center;
        padding-top: 20px;
        color: $light;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;

        a {
            color: rgba(162, 45, 198, 1);
            text-decoration: none;
            margin-left: 3px;
        }
    }

    &__checkbox {
        margin-right: 15px;
    }

    &__links {
        padding-top: 40px;
        display: flex;
        column-gap: 66px;
        row-gap: 40px;
        flex-wrap: wrap;
    }

    &__nav {
        padding-top: 40px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style: none;
            padding: 0;

        }
    }

    &__link {
        a {
            color: $light;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
    }

    &__social {
        margin-top: 40px;

        &-block {
            margin-top: 40px;
            padding: 0;
            display: flex;
            gap: 10px;
            list-style-type: none;

            a {
                display: block;
                color: $light;
                text-decoration: none;
                font-size: 24px;
            }

            span::before {
                margin: 0;
            }
        }
    }

    &__copyright {
        margin-top: 40px;
        padding-bottom: 50px;
        text-align: center;
        color: $light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__newsletter {
            width: 100%;
        }

        &__copyright {
            margin-top: 50px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {

        &__newsletter {
            width: auto;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1920px) {
    .footer {
        margin-top: 130px;

        &__newsletter {
            padding-top: 80px;
        }

        &__copyright {
            margin-top: 18px;
        }
    }

}