@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;

    &__wrapper {
        padding-top: 60px;
    }

    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        display: block;
        color: $dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        color: $dark;
        padding: 10px 15px;
        border: 1px solid rgba(226, 225, 229, 1);
        border-radius: 2px;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__textarea {
        width: 100%;
        height: 132px;
        color: $dark;
        padding: 10px 15px;
        resize: none;
        border: 1px solid rgba(226, 225, 229, 1);
        border-radius: 2px;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__check-block {
        margin-top: 20px;
        display: flex;
        width: fit-content;
        align-items: center;

        a {
            color: rgba(162, 45, 198, 1);
            text-decoration: none;
            margin-left: 2px;
        }
    }

    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }

    &__btn {
        margin-top: 20px;
    }

    &__decor {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .touch {
        padding-top: 45px;
        position: relative;

        &__form {
            width: 300px;
            padding-left: 24px;
        }

        &__decor {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 24px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        padding-top: 80px;

        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }

        &__textarea {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }

        &__form {
            padding-left: 20px;
        }

        &__decor {
            margin-right: 30px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        padding-top: 100px;

        &__img {
            width: 100%;
            height: 342px;
        }
        &__form {
            padding-left: 143px;
            width: auto;
        }
        &__fieldset {
            display: flex;
            column-gap: 45px;
        }
        &__label,
        &__input,
        &__textarea{
            width: 300px;
        }
        &__check-block {
            width: fit-content;
        }
        &__decor {
            right: 75px;
        }
    }
}